.body {
width: 1440px;
height: 900px;
}

.header {
display: flex;
}

.header::before {
content: '';
position: absolute;
width: 461px;
height: 900px;
background: #000;
}

.header__title {
position: relative;
width: 98px;
height: 37px;
margin-right: 238px;
margin-left: 52px;
font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 37px;
text-align: center;
letter-spacing: 0.07em;
color: #FFF;
}

.header__language {
  position: relative;
  display: flex;
}

.header__language-ru {
width: 31px;
height: 25px;
font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;
text-align: right;
color: #FFF;
}

.img {
position: relative;
width: 11px;
height: 5.5px;
left: 426px;
top: 54px;
border: 2px;
color: #000;
}

.new-collection {
  position: relative;
}

.new-collection__girl {
display: flex;
width: 549px;
height: 562px;
}

.new-collection__title {
width: 475px;
height: 164px;
left: 789px;
padding-bottom: 26px;
font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 80px;
line-height: 82px;
color: #000;
}

.new-collection__description {
width: 467px;
height: 127px;
left: 789px;
top: 263px;
font-family: Montserrat, sans-serif;
font-style: normal;
font-weight: normal;
font-size: 17px;
line-height: 25px;
color: #000;
}

.new-collection__farther {
width: 203px;
height: 44px;
left: 786px;
top: 460px;
font-family: Montserrat, sans-serif;
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 0;
background: none;
text-transform: uppercase;
color: #000;
}

.new-collection__other {
left: 1043px;
top: 469px;
outline: 0;
border: 0;
font-family: Montserrat, sans-serif;
font-style: normal;
font-weight: 500;
font-size: 15px;
background: none;
text-transform: uppercase;
color: #000;
}

.social-networks {
position: absolute;
top: 816px;
}

.clutch {
margin-top: 800px;
}
