.body {
margin: 0;
}

.header {
display: flex;
align-items: center;
}

.header::before {
content: '';
position: absolute;
width: 461px;
height: 1800px;
background: #000;
}

.header__title {
position: relative;
width: 98px;
height: 37px;
margin: 0 0 0 52px;
font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 37px;
text-align: center;
letter-spacing: 0.07em;
color: #FFF;
}

.header__language {
  position: relative;
  display: flex;
  width: 238px;
  justify-content: flex-end;
  align-items: center;
}

.header__language-ru {
width: 31px;
height: 25px;
font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;
color: #FFF;
}

.header__language-ru::after {
  position:absolute;
  background-image: url(./img/Vector%20.2.png);
  left: 7px;
  top: 54px;
  color: #FFF;
}

.header__menu {
width: 92px;
height: 92px;
margin-left: auto;
}

.new-collection {
  position: relative;
  display: flex;
}

.new-collection__girl {
width: 549px;
height: 562px;
margin: 86px 54px 0px 169px;
}

.new-collection__section {
  position:relative;
  top: 100px;
}

.new-collection__title {
width: 475px;
height: 164px;
margin-bottom: 36px;
left: 789px;
font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 80px;
line-height: 82px;
color: #000;
}

.new-collection__description {
width: 508px;
margin-bottom: 36px;
font-family: Montserrat, sans-serif;
font-style: normal;
font-weight: normal;
font-size: 17px;
line-height: 25px;
color: #000;
}

.new-collection__farther {
width: 203px;
height: 44px;
margin-right: 54px;
font-family: Montserrat, sans-serif;
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 0;
background: none;
text-transform: uppercase;
color: #000;
}

.new-collection__other {
outline: 0;
border: 0;
font-family: Montserrat, sans-serif;
font-style: normal;
font-weight: 500;
font-size: 15px;
background: none;
text-transform: uppercase;
color: #000;
}

.new-collection__other::after {
content: "";
display: inline-block;
background-image: url(./img/Vector%202.1.png);
left: 19px;
position: relative;
width: 44px;
height: 12px;
color: #000;
}

.new-collection__scrooll {
width: 27px;
height: 46px;
}

.social-networks {
position: absolute;
bottom: 41px;
left: 52px;
}

.social__link, .social__link-vk {
  margin-right: 13px;
}

.clutch {
margin-top: 500px;
}
