.body {
width: 1440px;
height: 900px;
}

.header {
display: flex;
}

.header::before {
content: '';
position: absolute;
width: 461px;
height: 900px;
background: #000;
}

.header__title {
position: relative;
width: 98px;
height: 37px;
margin: 36px 0 0 52px;
font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 37px;
text-align: center;
letter-spacing: 0.07em;
color: #FFF;
}

.header__language {
  position: relative;
  display: flex;
}

.header__language-ru {
width: 31px;
height: 25px;
margin: 42px 0 0 238px;
font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;
text-align: right;
color: #FFF;
}

.header__vector {
position: relative;
margin: 54px 0 0 7px;
width: 14px;
height: 8px;
border: 2px;
color: #000;
}

.header__menu {
width: 92px;
height: 92px;
padding: 0 0 0 979px;
}

.new-collection {
  position: relative;
  display: flex;
}

.new-collection__girl {
width: 549px;
height: 562px;
margin: 86px 54px 0px 169px;
}

.new-collection__title {
width: 475px;
height: 164px;
left: 789px;
margin: 186px 155px 473px 0;
font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 80px;
line-height: 82px;
color: #000;
}

.new-collection__description {
width: 467px;
height: 127px;
left: 789px;
top: 263px;
font-family: Montserrat, sans-serif;
font-style: normal;
font-weight: normal;
font-size: 17px;
line-height: 25px;
color: #000;
}

.new-collection__farther {
width: 203px;
height: 44px;
left: 786px;
top: 460px;
font-family: Montserrat, sans-serif;
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 0;
background: none;
text-transform: uppercase;
color: #000;
}

.new-collection__other {
left: 1043px;
top: 469px;
outline: 0;
border: 0;
font-family: Montserrat, sans-serif;
font-style: normal;
font-weight: 500;
font-size: 15px;
background: none;
text-transform: uppercase;
color: #000;
}

.social-networks {
position: absolute;
margin: 725px 0px 41px 42px;
}

.social__link, .social__link-vk {
  margin-right: 13px;
}

.clutch {
margin-top: 500px;
}
